<html>
    <head>
        <title>
            About page
        </title>
    </html>
    <body>
        <h1>
            <b><p><u>Details</u></b></p>
        </h1>
        <h2> we are here to help you to be mentally healthy 
            and build you to lead a happy life
        </h2>
        <p>
            <b>
                <span class="reachus">reach us at :</span> admin@gmail.com
            </b>
            <style>
                .reachus{
                    color: rgb(29, 5, 253);
                    font-size: larger;
                }
            </style>
        </p>
    </body>
</html>